.text {
  position: relative;
  text-align: center;
  width: 100%;
  font-family: Helvetica;
  font-weight: 300;
  letter-spacing: 1px;
}

#con {
  position: absolute;
  left: 0px;
  width: 100%;
  top: 50%;
  margin-top: -100px;
}
